html body {
    background-color: lightgrey;
    position: relative;
}

main {
    background-color: white;
    width: 50%;
    margin-left: 20px;
    padding: 20px;
}

section {
    background-color: white;
    width: 70%; 
    margin-left: 20px; 
    padding: 20px;
}

article {
    background-color: white;
    margin-left: 20px;
    padding: 20px;
    width: 60%;
}


.navbar-brand {
    background-color: lightseagreen;
    color: white;
}

.navbar-nav {
position: absolute;
right: 80px;
}

footer {
    text-align: center;
    background-color: grey;
    padding: 10px;
    color: white;
}

h2 {
    color: lightseagreen;
    margin-left: 10px;
}

img.text {
margin-left: 0px;
}

img {
    float: left;
    margin: 10px;
}
.container {
    width:max-content;
}

#p2 {
margin-top: 30px;
margin-left: 0px;
padding-left: 5px;
}

div.box {
    height: 15px;
    background-color: lightseagreen;
}

div.boxxes {
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Minimalist-Crumpled-Paper-Simple-Background-Image.jpg");
    margin: 50px;
    
}
